
.mapBox{
  margin:0 auto;
  background-image: url('Photos/HongKong.png');
  width: 857px;
  height: 611px;
  position:relative;
}

.mapBox a {
    text-decoration: none;
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
  }
  .ShekO:hover, .HaFaShan:hover, .MaOnShan:hover{
    background-color: black;
  }
  .ShekO {
    top: 445px;
    left: 570px;
  } 
  .HaFaShan {
    top: 210px;
    left: 350px;
  }
  .MaOnShan {
    top: 150px;
    right: 220px;
  }