
.mapBox{
  margin:0 auto;
  background-image: url('Photos/HongKong.png');
  width: 857px;
  height: 611px;
  position:relative;
}
/* position of the MOS button */
.MaOnShandropdown {
  top: 170px;
  left: 560px;
  position: absolute;
  display: inline-block;
}
.ShekOdropdown {
  top: 445px;
  left: 570px;
  position: absolute;
  display: inline-block;
}
.TsuenWandropdown {
  top: 210px;
  left: 340px;
  position: absolute;
  display: inline-block;
}
/* style of the button */
.dropbtn { 
  background-color: #555;
  color: white;
  padding: 2px 8px;
  font-size: 12.5px;
  border-radius: 5px;
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}
.MaOnShandropdown:hover .dropdown-content, 
.ShekOdropdown:hover .dropdown-content, 
.TsuenWandropdown:hover .dropdown-content {
  display: block;
}
.MaOnShandropdown:hover .dropbtn, 
.ShekOdropdown:hover .dropbtn,
.TsuenWandropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}