body {
  font-family:cursive;
}
h1 {
  font-size: 50px;
}
table {
  margin:auto;
  text-align: center;
}
th {
  padding: 5px;
  font-size:16px;
  }
td {
  font-size:14px
}
.Bgi {
  background-image: var(--url);
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .4;
}
/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 700px;
  line-height:200%;
  background-color: rgb(61, 61, 61);
  color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
